.Form_inputs {
    bottom: 0;
    margin-bottom: 50px;
    background-color: wheat;
    border-radius: 15px;
    padding: 15px 0 15px 0;
    width: 100%;
}

.ChatBox {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center
}
.ChatTitle {
    color: wheat;
    text-align: center;
    margin: 40px 0
}
